
.addContainer{
  position: absolute;
  padding: 1rem 2rem;
  width: 80vw;
  z-index: 10;
  top: -30%;
  right: 0;
  margin: auto;
  border-radius: 15px;
  background-color: #2e92ccef;
  animation: addWorkoutAnimation ease-in-out .7s forwards;
}


.displayOptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;
  opacity: 0;
  animation: displayOptions .7s ease-in-out .7s forwards;
}

.input-field input{
  width: 2vw;
}

select{
  border: none;
  font-size: larger;
  background-color: unset; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px)  {

  .addContainer{
    width: 70vw;
    right: -60%;
    animation: addWorkoutAnimation2 ease-in-out .7s forwards;
  }


  .displayOptions{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    opacity: 0;
    animation: displayOptions2 .7s ease-in-out .7s forwards;
  }

  @keyframes addWorkoutAnimation2 {
    from{
      height: 0dvh;
    }
    to{
      height: 50dvh;
    }  
  }

  @keyframes displayOptions2 {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }  
  }

}



@keyframes addWorkoutAnimation {
  from{
    height: 0dvh;
  }
  to{
    height: 50dvh;
  }  
}

@keyframes displayOptions {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }  
}
