.workoutContainer{
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

h2{
  color: #DCDFE4;
}

.workoutView{
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.workoutCardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.workoutCard{
  border: solid 1px black;
  padding: 1rem;
  width: 15vw;
  border-radius: 10px;
  transition: ease-in .1s;
  background-color: #22272B;
  animation: workoutCard .7s ease forwards;
}

.workoutCard:hover{
  border: none;
  transform: translateY(-10px);
  
  background-color: #1E1E1E;
  /* box-shadow: 10px -10px rgba(0, 255, 255, 0.219); */
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.topElements{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .editCardBtn{
  scale: 0.8;
  cursor: pointer;
  fill: black;
  transition: ease .2s;
}
.editCardBtn:hover{
  scale: 1;
  fill: yellow;
  transform: rotate(19deg);
} */

.removeCardBtn{
  scale: 0.8;
  cursor: pointer;
  fill: black;
  transition: ease .2s;
}

.removeCardBtn:hover{
  scale: 1;
  fill: red;
  transform: rotate(180deg);
}

.topElements span{
  background-color: turquoise;
  padding: .25rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: medium;
  display: flex;
}

.card-stats{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.workoutCard p{
  font-size: medium;
  border-bottom: solid 1px turquoise;
  color: #DCDFE4;
  border-radius: 10px;
  width: fit-content;
  padding: .5rem;
}


.calenderContainer{
  margin: 5rem 0;
}





/* @media (max-width: 768px)  {

  .addContainer{
    width: 70vw;
    right: -60%;
    animation: addWorkoutAnimation2 ease-in-out .7s forwards;
  }


  .displayOptions{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    opacity: 0;
    animation: displayOptions2 .7s ease-in-out .7s forwards;
  }

  @keyframes addWorkoutAnimation2 {
    from{
      height: 0dvh;
    }
    to{
      height: 50dvh;
    }  
  }

  @keyframes displayOptions2 {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }  
  }

} */


@keyframes workoutCard {
  from{
    opacity: .4;
    scale: .8;
  }
  to{
    opacity: 1;
    scale: 1;
  }  
}