.dashboard-container {
  width: 70%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;

}

.stat-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--secondary-color);
  border: solid 2px black;
  border-radius: 15px;
  opacity: 0;
  animation: fadeStatsIn 1s forwards;
  animation-delay: .4s;
  padding: 1rem;
}



.resp-graph {
  display: none;
  animation-delay: .6s;
}

.calories-target {
  all: unset;
  border: solid 1px var(--main-brand-color);
  padding: .3rem;
  border-radius: 10px;
  transition: background-color ease-in-out .3s;

  input {
    all: unset;
    field-sizing: content;
    color: var(--main-brand-color);
  }
}

.calories-target:hover {
  background-color: rgba(245, 245, 245, 0.1);
  cursor: pointer;
}

.bar-chart {
  align-items: center;
  justify-content: space-between;
  animation-delay: .6s;
}

.pie-chart {
  align-items: center;
  justify-content: space-between;
  animation-delay: .8s;
}

.bar-chart-div canvas {
  height: 300px;
  width: 350px;
}

.add-btn-comp {
  align-items: center;
  animation-delay: 1s;
}



@media (max-width: 425px) {

  .dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .stat-card {
      width: 80%;
    }

    .pie-chart,
    .bar-chart {
      display: none;
    }

    .resp-graph {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40vh;
    }

    .chart {
      height: 20rem;
    }

    .add-btn-comp {
      position: fixed;
      right: -15%;
      width: 50%;
      bottom: 5%;
      z-index: 10;
      border: none;
      background: none;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {

  .add-btn-comp {
    grid-row-start: 4;
    width: 50%;
    justify-self: center;

  }
}

@keyframes fadeStatsIn {
  from {
    transform: translate(-30px, -20px);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }

}