h1 {
  font-size: 1.7rem;
  color: var(--text-color);
}

.form-banner {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 70;
}

.form-banner img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 22px;
  transition: border-radius 0.8s ease;
}

.login-form .form-banner {
  animation: stretchMoveRight 1s ease forwards;
}

.regist-form .form-banner {
  animation: stretchMoveLeft 1s ease forwards;
}


.form-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50dvw;
  height: 70dvh;
  border-radius: 25px;
  border: solid 2px var(--main-brand-color);
  overflow: hidden;

}


.client-data{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.login-form .client-data {
  animation: fadeOut 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  padding: 1rem 0 0 1rem;
  width: 40%;
}

.regist-form .client-data {
  animation: fadeIn 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  padding: 1rem 0 0 3rem;
  width: 35%;
}


.input-container {
  position: relative;
  padding: 1rem 0;
  height: 50px;
  line-height: 50px;
  width: 90%;
}

.show-password{
  position: absolute;
  right: 0;
  z-index: 5;
}

.password-icon{
  color: var(--text-color)!important;
}

.input-container input {
  position: absolute;
  outline: none;
  font-size: larger;
  padding: 0 .5rem;
  line-height: 50px;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: transparent;
  z-index: 5;
  width: 100%;
}

.lable-line {
  position: absolute;
  padding: 0 .8em 0 .8em;
  transition: .3s ease;
  color: var(--text-color);
}

.input-container input:focus,
.input-container input:valid {
  border: solid 5px var(--main-brand-color);
  color: var(--text-color);
}

.input-container input:focus+.lable-line,
.input-container input:valid+.lable-line {
  height: 10px;
  line-height: 0px;
  transform: translate(0px, -3px) scale(.88);
  z-index: 56;
  background-color: var(--primary-color);

}

.btn-three { 
  color: #FFF;
  transition: all 0.5s;
  display: block; 
  text-align: center;
  font-size: 1.5rem;
  width: 75%;
  border: none;
  background: none;
  cursor: pointer;
  margin: 1rem 0;
}


.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #6FC6FF;
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #6FC6FF;
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.info-message {
  color: #2e8b57;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: #b92828;
  font-weight: bold;
  margin-top: 10px;
}

.forgot-password{
  color: var(--text-color);
  cursor: pointer;
}


@media (max-width: 767px) {

  .form-container{
    align-items: center;
    width: 90%;
    height: 70%;
    
  }

  .form-banner{
    display: none;
  }

  .input-container {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  
  .input-container input {
    width: 80%;
  }

  .show-password{
    position: absolute;
    right: 20%;
    z-index: 5;
  }

  .regist-form .client-data,
  .login-form .client-data {
    animation: unset;
    width: 100%;
    height: 100%;
    gap: unset;
    padding: 1rem 0 0 1rem
  }

  .error-message{
    font-size: .8rem;
  }

  .btn-three { 
    color: #FFF;
    transition: all 0.5s;
    display: block; 
    text-align: center;
    font-size: 1.3rem;
    width: 80%;
  }

  .forgot-password{
    color: var(--text-color);
    cursor: pointer;
  }

}

@media (min-width: 768px) and (max-width: 1440px){
  
  .form-container{
    width: 85%;
    height: 75dvh;
  }
  
  .client-data{
    padding: 0 0 0 1rem;
  }


  .input-container {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  
  .btn-three{
    font-size: larger;
    width: 100%;
  }
}








@keyframes stretchMoveLeft {
  0% {
    transform: translateX(0);
    width: 50%;
    opacity: .2;
  }
  50% {
    transform: translateX(0);
    width: 100%;
    opacity: .5;
  }
  100% {
    transform: translateX(83%);
    width: 55%;
    opacity: 1;
  }
}

@keyframes stretchMoveRight {
  0% {
    transform: translateX(100%);
    width: 50%;
    opacity: .2;
  }
  50% {
    transform: translateX(0);
    width: 100%;
    opacity: .5;
  }
  100% {
    transform: translateX(-25%);
    width: 70%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(130%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(130%);
  }
}