h1 {
  font-size: 1.7rem;
  color: #f2f2f2;
}

.form-banner {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 70;
}

.form-banner img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 22px;
  transition: border-radius 0.8s ease;
}

.login-form .form-banner {
  animation: stretchMoveRight 1s ease forwards;
}

.regist-form .form-banner {
  animation: stretchMoveLeft 1s ease forwards;
}


.form-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50dvw;
  height: 70dvh;
  border-radius: 25px;
  border: solid 2px var(--main-brand-color);
  overflow: hidden;

}


.client-data{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}


.login-form .client-data {
  animation: fadeOut 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  padding: 1rem 0 0 1rem;
}

.regist-form .client-data {
  padding: 1rem 0 0 3rem;
  animation: fadeIn 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}


.input-container {
  position: relative;
  padding: 1rem 0;
  height: 50px;
  line-height: 50px;
}


.input-container input {
  position: absolute;
  outline: none;
  font-size: larger;
  padding: 0 .5rem;
  line-height: 50px;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: transparent !important;
  z-index: 5;
}

.lable-line {
  position: absolute;
  padding: 0 .8em 0 .8em;
  margin: 0 .1em;
  transition: .3s ease;
  color: #f2f2f2;

}

.input-container input:focus,
.input-container input:valid {
  border: solid 4px var(--main-brand-color);
  color: var(--text-color);
}

.input-container input:focus+.lable-line,
.input-container input:valid+.lable-line {
  height: 10px;
  line-height: 10px;
  transform: translate(0px, -3px) scale(.88);
  z-index: 56;
  background-color: var(--primary-color);

}





.links-btn {
  position: relative;
  padding-block: 1em;
  /* top and bottom padding */
  padding-inline-start: 2em;
  /* left padding */
  padding-inline-end: 1em;
  /*right padding */
  border: none;
  border-radius: .25em;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  transition: padding 250ms ease, background-color 250ms ease;
  color: #f2f2f2;
}


.links-btn::before {
  position: absolute;
  content: '➡';
  font-size: 2rem;
  background-size: 1em;
  inset-block-start: 50%;
  inset-inline-start: 0em;
  /* wo der Content startet */
  transform: translateY(-50%);
  line-height: 1;
  transition: inset-inline-start 250ms ease;
}


.links-btn:hover {
  padding-inline-start: 1em;
  /* left padding */
  padding-inline-end: 2em;
  /* right padding */
  background-color: #6FC6FF;
  /* color: rgb(190, 101, 0); */
  color: #f2f2f2;
}


.links-btn:hover::before {
  inset-inline-start: calc(100% - 1em);
}

.login-form {
  .links-btn::before {
    position: absolute;
    content: '⬅';
    /* Pfeil nach rechts */
    inset-inline-start: calc(100% - 2em);
    /* Pfeil startet rechts */
    transition: inset-inline-start 250ms ease;
  }

  .links-btn:hover::before {
    inset-inline-start: 1em;
    /* Pfeil bewegt sich nach links */
  }
}

.links-btn {
  display: grid;
  place-items: center;
  text-decoration: none;
}

.error-message {
  color: red;
  padding: 3rem 0 0 0.5rem;
}





@keyframes stretchMoveLeft {
  0% {
    transform: translateX(0);
    width: 50%;
    opacity: .2;
  }
  50% {
    transform: translateX(0);
    width: 100%;
    opacity: .5;
  }
  100% {
    transform: translateX(83%);
    width: 55%;
    opacity: 1;
  }
}

@keyframes stretchMoveRight {
  0% {
    transform: translateX(100%);
    width: 50%;
    opacity: .2;
  }
  50% {
    transform: translateX(0);
    width: 100%;
    opacity: .5;
  }
  100% {
    transform: translateX(-25%);
    width: 70%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(130%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(130%);
  }
}


@media (max-width: 767px) {
  .form-container{
    
    align-items: center;
    width: 90%;
    height: 90%;
    
  }

  .form-banner{
    display: none;
  }

  .input-container input{
    width: 80%;
  }

  .client-data{
    width: 100%;
  }

  .login-form .client-data {
    animation: unset;
  }
  
  .regist-form .client-data {
    animation: unset;
  }

  .submit-btn, 
  .links-btn {
    padding: 1rem 2em 1rem 0;
  }

  .submit-btn::before, 
  .links-btn::before {
    content: none;
  }

  .login-form .links-btn::before{
    content: none;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px){
  .form-container{
    width: 95%;
    height: 70dvh;
  }

  .client-data{
    padding: 1rem 0 0 1rem;
  }

  .login-form{

    .links-btn::before {
      inset-inline-start: calc(100% - 1em);
    }
    .links-btn:hover::before {
      inset-inline-start: 0.5em;
    }
  }
}




.btn-three {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 65%;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #6FC6FF;
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #6FC6FF;
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}