:root{
  --light-mode: #F1F2F4;
  --dark-mode: #121212;
}




body{
  background-color: var(--dark-mode);
  /* background-color: var(--light-mode); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

